.user-card-contact {
  --ucc-bg: #263b6d;

  background-color: var(--ucc-bg);
  border-radius: var(--border-radius-default);
  gap: var(--gap-default);

  display: flex;
  justify-content: space-between;
  padding: 3rem;

  &__col {
    flex: 1 1 auto;

    &--xs {
      flex: 0 0 230px;
    }

    &--text-right {
      text-align: right;
    }
  }
}