.user-card-contact {
  --ucc-bg: #263b6d;
  --ucc-color: #ffffff;

  background-color: var(--ucc-bg);
  color: var(--ucc-color);
  border-radius: var(--border-radius-default);
  gap: var(--gap-default);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  box-shadow: var(--box-shadow-default);

  &__col {
    flex: 1 1 auto;
    text-align: center;

    &--xs, &--xxs {
      flex: 1 1 auto;
    }
  }

  &__name {
    font-size: 2.4rem;
    margin: 0;;
  }

  &__contact-item {
    margin-bottom: 1.4rem;
  }

  &__avatar {
    transform: none
  }

  a {
    color: var(--link-color-default);

    &:hover {
      color: var(--link-color-default);
      text-decoration: underline;
    }
  }

  :deep(.avatar) {
    margin-left: auto;
    margin-right: auto;
  }

  :deep(.phone) {
    justify-content: center;
  }

  @media (min-width: 768px) {
    flex-direction: row;

    &__col {
      flex: 1 1 auto;
      text-align: left;

      &--xs {
        flex: 0 0 230px;
      }

      &--xxs {
        flex: 0 0 130px;
      }

      &--action {
        text-align: right;
      }
    }

    &__contact-item {
      margin-bottom: 2.5rem;
    }

    &__avatar {
      transform: translateY(-60px);
    }

    :deep(.phone) {
      justify-content: flex-start;
    }
  }
}