.btn {
  --btn-color-primary: #007bff;
  --btn-color-secondary: #6c757d;
  --btn-color-inline: #69a9da;

  --btn-bg-primary: #69a9da;
  --btn-bg-secondary: #ffffff;
  --btn-bg-inline: transparent;

  padding: 0.5rem;
  line-height: 1;
  font-size: 1rem;
  border-radius: var(--border-radius-xs) 0;


  &--primary {
    color: var(--color-primary);
    background-color: var(--btn-bg-primary);
  }

  &--secondary {
    color: var(--btn-color-secondary);
    background-color: var(--btn-bg-secondary);
  }

  &--inline {
    color: var(--btn-color-inline);
    background-color: var(--btn-bg-inline);
  }
}